<web-app>
<!--    &lt;!&ndash; Configuração do Filtro JWT &ndash;&gt;-->
<!--    <filter>-->
<!--        <filter-name>jwtTokenFilter</filter-name>-->
<!--        <filter-class>com.gutosoethe.security.JwtTokenFilter</filter-class>-->
<!--    </filter>-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secure Resources</web-resource-name>
            <url-pattern>/api/auth/secure</url-pattern>
        </web-resource-collection>
        <auth-constraint>
<!--            <role-name>user</role-name>-->
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>jwtLoginModule</realm-name>
    </login-config>

    <security-role>
        <role-name>user</role-name>
    </security-role>

</web-app>
